<configuration scan="true" scanPeriod="300 seconds">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%green(%d{HH:mm:ss.SSS}) [%highlight(%-5level)] %cyan(%18.18class{0}):%-4(%line) - %white(%msg%n)</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>openedx.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<append>true</append>
		<encoder>
			<pattern>%-5level %logger{25} - %boldWhite(%msg%n)</pattern>
		</encoder>
	</appender>

	<appender name="DEV_FILE" class="ch.qos.logback.core.FileAppender">
		<file>openedx-full.log</file>
		<append>true</append>
		<encoder>
			<pattern>%-5level %logger{25} - %boldWhite(%msg%n)</pattern>
		</encoder>
	</appender>

	<root level="debug">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>

	<root level="ALL">
		<appender-ref ref="DEV_FILE" />
	</root>

</configuration>